<!doctype html>
<html>
<head
    data-home="{{ site.home }}" 
    data-api="{{ site.api }}"
    data-img="{{ site.img }}" 
    data-url="{{ page.url }}" 
    >
  <meta name="baidu-site-verification" content="uKLIYpdHaU" />
  {% include header.html %}
</head>
<body>
  <div class="container">
    <div class="row">
      {% include navside.html %}
      <div class="col-md-13 col-lg-13 col-sm-13 col-xs-13 aside3">
        <div id="container">
          <div id="pjax">
            {{ content }}
          </div>
        </div>
		{% include copyright.html %}
      </div>
    </div>
  </div>
  {% include footer.html %}
  {% include googleanalytics.html %}
</body>
</html>